<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Employee</display-name>
  
  <servlet>
    <servlet-name>employeeList</servlet-name>
    <servlet-class>web.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeList</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>addEmployee</servlet-name>
    <servlet-class>web.servlet.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmployee</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>web.listener.ContextListener</listener-class>
  </listener>

</web-app>

